<!DOCTYPE html>
<html>
  <head>
    <title>Admin section</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap-4.0.0.min.css" />
  </head>

  <body>

