// compress: true, sourceMap: true

.clearfix {
  display: block;
  zoom: 1;

  &:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.hide {
	display: none;
}

.accelerate() {
	.transform(translate3d(0, 0, 0));
}

@bold: "ClearSans Bold", serif;
@medium: "ClearSans Medium", sans-serif;

@gray: #878787;
@dark: #555A5C;
@darker: #212121;
@lines: #CCCCCC;
@orange: #F64E00;

@import (less) 'reset';
@import (less) 'prefixer';
@import (less) 'fonts';
@import (less) 'layout';
