// main: application.less

@font-face {
  font-family: 'ClearSans Bold';
  src: url('../fonts/ClearSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ClearSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ClearSans-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ClearSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ClearSans-Bold.svg#a3dd1397111836ec840e8c98169ffc51') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'ClearSans Medium';
  src: url('../fonts/ClearSans-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ClearSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ClearSans-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ClearSans-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ClearSans-Medium.svg#f28578544bcd221f22d5dc42685e92f2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}