// main: application.less

.buttons {
	position: absolute;
	top: 10px; left: 10px;
	opacity: 0.5;
}

.hd {
	@coef: 2.5;
	.screen {
		width: 1800px;
		margin: 80px auto 0;
		position: relative;
	}

	.logo {
		display: block;
		margin: 0 auto;
	}

	.round {
		position: absolute;
		left: 50%; margin-left: -(273px/2);
		top: 400px;
		width: 273px; height: 111px;
		border: 1px solid @lines;
		font-family: @bold;
		color: @dark;
		text-transform: uppercase;
		text-align: center;
		font-size: @coef*13px;
		box-sizing: border-box;
		padding-top: 1.1em;

		&:before, &:after {
			content: " ";
			position: absolute;
			left: 50%;
			width: 3px; height: 160px;
			background: @lines;
		}
		&:before {
			top: -160px;
		}
		&:after {
			bottom: -160px;
		}
		
		span.alert {
			color: @orange;
		}
	}

	.left {
		width: 750px;
		float: left;
		margin-top: -90px;
	}

	.right {
		width: 750px;
		float: right;
		margin-top: -90px;
	}

	h2 {
		text-align: center;
		font-size: @coef*13px;
		font-family: @medium;
		color: @gray;
		font-weight: normal;
		margin-bottom: 0em;
	}
	h3 {
		font-family: @bold;
		font-size: @coef*17px;
		color: @darker;
		text-align: center;
		font-weight: normal;

	}

	.header {
		h2 {
			text-transform: uppercase;
			font-size: @coef*17px;
			margin-bottom: 0.4em;
		}
		h3 {
			margin-bottom: 1em;
			font-size: @coef*24px;
		}
	}
	.points {
		h3 {
			text-transform: uppercase;
			margin-bottom: 0.7em;
			min-height: 1em;
		}
		h2 {
			& > span {
				margin-top: -0.4em;
				margin-right: 0.2em;
				font-size: @coef*30px;
				color: @orange;
			}
		}
	}

	@stroke: 18px;
	@stroke_overlay: 4px;
	@circle_r: 191px;

	@size: (@circle_r+(@stroke/2))*2;
	
	@duration: 60s;
	@time: 60;
	@total: 64px;
	@circle: @circle_r*pi()*2;

	.counter-wrapper {
		position: relative;
		width: @size; height: @size;
		margin: 0 auto 1em;

		&:before {
			@elogo: 65px;
			content: "";
			background: @orange data-uri('../img/e-big.png') 50% 50% no-repeat;
			width: @elogo; height: @elogo;
			position: absolute;
			top: -23px; left: 50%;
			border-radius: @elogo/2;
			z-index: 20; margin-left: -(@elogo/2);
		}

		svg {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			z-index: 10;

			.counter {
				stroke-dasharray: (@circle_r*pi()*2);
				stroke-dashoffset: (@circle_r*pi()*2);
				stroke-width: @stroke;
				fill: transparent;
				stroke: @orange;
				.transition(stroke-dashoffset 0.95s linear);
				.rotate(-81deg);
				.transform-origin(50% 50% 0);
			}
		}

		&.active .counter {
			transition: stroke-dashoffset @duration linear;
			stroke-dashoffset: @total;
		}
		
		.counter-remains(@n) when (@n > 0) {
			.counter-remains(@n - 1);
			&.counter-remains-@{n} {
				.counter {
					stroke-dashoffset: (@circle/(@duration/(@n - 1)))+@total;
				}
				&.active .counter {
					transition: stroke-dashoffset @n - 1s linear;
					stroke-dashoffset: @total;
				}
			}
		}
		.counter-remains(59);

		@offset: @stroke - @stroke_overlay;
		@img_size: @size - (@offset*2);

		.bg {
			width: @img_size; height: @img_size;
			border-radius: @img_size/2;
			position: relative;
			top: @offset; left: @offset;
			z-index: 0;
			background-image: url('../img/bg.png');
			background-size: cover;
			background-position: 50% 50%;

			line-height: @img_size;
			font-family: @bold;
			font-size: 200px;
			color: #fff;
			text-shadow: 0px 0px 30px @darker;
			text-align: center;
		}
	}

	footer {
		position: absolute;
		bottom: 0; left: 0; width: 100%;
		padding-bottom: 2em;
		font-size: @coef*12px;
		font-family: @medium;
		color: @gray;
		text-align: center;
	}


	.odometer.odometer-auto-theme, .odometer.odometer-theme-minimal {
		margin-top: -0.2em;
	}
}

.sd {
	@coef: 2.2;
	.bikes {
		text-align: center;
		white-space: nowrap;
		
		.bike {
			box-sizing: border-box;
//			width: 100px;
			height: @coef*38px;
			display: inline-block;
			position: relative;
			padding-left: @coef*52px;
			padding-right: @coef*10px;
			text-align: left;
			
			&.bike2 {
				border-left: 1px solid @lines;
				border-right: 1px solid @lines;
			}
			
			> span {
				font-family: @bold;
				color: @orange;
				font-size: @coef*20px;
				margin-top: @coef*8px;
			}
			
			&:before {
				content: "";
				background: url('../img/bike-small.png') 50% 50% no-repeat;
				background-size: contain;
				width: @coef*30px; height: @coef*30px;
				border: 1px solid @gray;
				border-radius: @coef*15px;
				position: absolute;
				top: @coef*4px; left: @coef*15px;
			}
			
			&:after {
				content: "1";
				background: @orange;
				width: @coef*17px; height: @coef*17px; line-height: @coef*17px;
				border-radius: @coef*9px;
				position: absolute;
				font-family: @bold;
				font-size: @coef*11px;
				color: #fff;
				top: @coef*2px; left: @coef*8px;
				text-align: center;
			}
			&.bike2:after {
				content: "2";
			}
			&.bike3:after {
				content: "3";
			}
		}
	}

}